/* assets/styles/app.scss */
/* Override some Bootstrap variables */
$red: #FB4040;
$primary: #94d4ff;
$secondary: #747e85 ;


@import '../../vendor/twbs/bootstrap/scss/bootstrap';

body {
  //background: $red;
}